{
  "extends": "./node_modules/mybigday-test-utils/eslint-base.js",
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "object-shorthand": 0,
    "prefer-template": 0,
    "consistent-return": 0,
    "no-underscore-dangle": ["error", { "allow": ["_s"] }]
  }
}
